// width of page content
$page-width: 972px;

// logo sizes
$logo-width: 268px;
$logo-height: 60px;

// search-holder block height
$search-holder-height: 88px;

// main nav height
$height-main-nav: 42px;

// products block size
$prod-width: 203px;
$prod-height: 237px;

// products image block size
$prod-img-height: 169px;

// height of page navigation
$paginat-height: 37px;
$page-numb-width: 30px;
$page-numb-height: 27px;

// width list block in footer
$list-box-width: 150px;
$topics-width: 200px;
$favicon-width: 205px;
$twitter-width: 231px;

// info holder in footer height
$info-holder-height: 46px;