/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_custom-form.scss */
.search-form {
  height: 38px;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #131313), color-stop(100%, #101010));
  background-image: -webkit-linear-gradient(#131313, #101010);
  background-image: -moz-linear-gradient(#131313, #101010);
  background-image: -o-linear-gradient(#131313, #101010);
  background-image: linear-gradient(#131313, #101010);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
/* line 10, ../sass/_custom-form.scss */
.search-form .row {
  width: 100%;
  overflow: hidden;
  color: #fff;
}
/* line 16, ../sass/_custom-form.scss */
.search-form .row .input-setter {
  overflow: hidden;
  padding: 9px 5px 0 6px;
}
/* line 21, ../sass/_custom-form.scss */
.search-form .row input[type="text"] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #131313), color-stop(100%, #101010));
  background-image: -webkit-linear-gradient(#131313, #101010);
  background-image: -moz-linear-gradient(#131313, #101010);
  background-image: -o-linear-gradient(#131313, #101010);
  background-image: linear-gradient(#131313, #101010);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  border: none;
  font-size: 11px;
  outline: none;
  color: #5d5d5d;
  width: 100%;
}
/* line 31, ../sass/_custom-form.scss */
.search-form .row .submit-setter {
  float: right;
  margin: 0 9px;
}
/* line 37, ../sass/_custom-form.scss */
.search-form .row input[type="submit"] {
  background: url("../images/sprites/icon-look.png") 0 7px no-repeat;
  border: none;
  padding: 0;
  height: 38px;
  width: 24px;
  outline-color: #4B4B4B;
}

/* line 7, ../sass/_main.scss */
body {
  background: url(../images/bg-body.gif);
  font: 12px/14px Verdana, Arial, sans-serif;
}

/* line 12, ../sass/_main.scss */
#wrapper, .header-holder, #main-nav, #content-holder, .footer-holder {
  width: 100%;
}

/* line 16, ../sass/_main.scss */
.header-holder {
  border-top: solid #464646;
  border-top-width: 1px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #252525), color-stop(100%, #131313));
  background-image: -webkit-linear-gradient(#252525, #131313);
  background-image: -moz-linear-gradient(#252525, #131313);
  background-image: -o-linear-gradient(#252525, #131313);
  background-image: linear-gradient(#252525, #131313);
  padding: 11px 0 0;
}
/* line 23, ../sass/_main.scss */
.header-holder .header-box {
  height: 131px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d2d2d), color-stop(100%, #181818));
  background-image: -webkit-linear-gradient(#2d2d2d, #181818);
  background-image: -moz-linear-gradient(#2d2d2d, #181818);
  background-image: -o-linear-gradient(#2d2d2d, #181818);
  background-image: linear-gradient(#2d2d2d, #181818);
  margin: 0 0 10px;
}
/* line 28, ../sass/_main.scss */
.header-holder .header-box #header {
  width: 972px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/* line 33, ../sass/_main.scss */
.header-holder .header-box #header #logo {
  float: left;
  width: 268px;
  height: 60px;
  margin: 34px 0 0 4px;
  background: url(../images/logo.png);
}
/* line 40, ../sass/_main.scss */
.header-holder .header-box #header #logo a {
  display: block;
  text-indent: -9999px;
  height: 100%;
}
/* line 47, ../sass/_main.scss */
.header-holder .header-box #header .search-holder {
  height: 88px;
  float: right;
  margin: 0 13px 0 0;
}
/* line 52, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content {
  height: 100%;
  max-width: 390px;
  padding: 7px 20px 0 22px;
  background: url("../images/bg-left-side.png"), url("../images/bg-right-side.png"), url("../images/bg-search.gif");
  background-position: top left, top right, top left;
  background-repeat: no-repeat, no-repeat, repeat-x;
}
/* line 60, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content span {
  height: 16px;
  font-size: 11px;
  display: inline-block;
  background: url("../images/sprites/logo-rss.png") no-repeat;
  color: #6e6e6e;
  padding: 2px 0 0 27px;
  vertical-align: top;
}
/* line 70, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .subscribe-holder {
  margin: 0 0 11px 4px;
}
/* line 74, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .add-nav {
  display: inline-block;
  line-height: 16px;
}
/* line 78, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .add-nav li {
  float: left;
  padding: 0 6px;
  background: url("../images/sprites/sep-add-nav.gif") 0 4px no-repeat;
}
/* line 83, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .add-nav li:first-child {
  background: none;
}
/* line 87, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .add-nav li a {
  font-size: 11px;
  color: #a9a9a9;
  text-decoration: none;
}
/* line 91, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .add-nav li a:hover {
  text-decoration: underline;
}
/* line 101, ../sass/_main.scss */
.header-holder .header-box #header .sub-nav {
  font-size: 11px;
  float: right;
  padding: 10px 0 0;
  max-width: 330px;
}
/* line 107, ../sass/_main.scss */
.header-holder .header-box #header .sub-nav li {
  float: left;
  padding: 0 14px 0 15px;
  background: url("../images/separ-sub-nav.gif") 100% 1px no-repeat;
}
/* line 113, ../sass/_main.scss */
.header-holder .header-box #header .sub-nav li:last-child {
  background: none;
  padding: 0 7px 0 15px;
}
/* line 118, ../sass/_main.scss */
.header-holder .header-box #header .sub-nav li a {
  text-decoration: none;
  color: #616161;
}
/* line 122, ../sass/_main.scss */
.header-holder .header-box #header .sub-nav li a:hover {
  text-decoration: underline;
}

/* line 136, ../sass/_main.scss */
#main-nav {
  border-top: solid #474747;
  border-top-width: 1px;
  border-bottom: solid #161616;
  border-bottom-width: 1px;
  height: 43px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #272727));
  background-image: -webkit-linear-gradient(#333333, #272727);
  background-image: -moz-linear-gradient(#333333, #272727);
  background-image: -o-linear-gradient(#333333, #272727);
  background-image: linear-gradient(#333333, #272727);
  text-align: center;
}
/* line 144, ../sass/_main.scss */
#main-nav ul {
  font-size: 13px;
  line-height: 43px;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
}
/* line 151, ../sass/_main.scss */
#main-nav ul li {
  float: left;
  height: 100%;
}
/* line 155, ../sass/_main.scss */
#main-nav ul li a {
  padding: 0 13px;
  display: block;
  height: 100%;
  color: #9c9c9c;
  text-decoration: none;
}
/* line 162, ../sass/_main.scss */
#main-nav ul li a:hover {
  text-decoration: none;
  background: #727272;
}

/* line 172, ../sass/_main.scss */
#content-holder {
  background: url("../images/bg-main-top.png") repeat-x;
  padding: 6px 0 0;
  height: 500px;
}
/* line 178, ../sass/_main.scss */
#content-holder .content {
  padding: 20px 10px 0 6px;
  width: 972px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 183, ../sass/_main.scss */
#content-holder .content .prod-list {
  overflow: hidden;
}
/* line 186, ../sass/_main.scss */
#content-holder .content .prod-list li {
  float: left;
  width: 203px;
  height: 237px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 20px 20px 0;
}
/* line 195, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-header-setter {
  height: 26px;
  background: rgba(0, 0, 0, 0.47);
  padding: 11px 0 0 12px;
}
/* line 200, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-header-setter span {
  float: right;
  width: 23px;
  height: 20px;
  margin: 0 9px 0 0;
  font-weight: bold;
  padding: 0 0 0 21px;
  background: url("../images/sprites/icon-review.png") 0 2px no-repeat;
  color: #545252;
}
/* line 211, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-header-setter h2 {
  overflow: hidden;
}
/* line 214, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-header-setter h2 a {
  color: #5d5d5d;
  text-decoration: none;
}
/* line 218, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-header-setter h2 a:hover {
  text-decoration: underline;
}
/* line 225, ../sass/_main.scss */
#content-holder .content .prod-list li .prod-img-holder {
  margin: 0 0 13px;
}
/* line 228, ../sass/_main.scss */
#content-holder .content .prod-list li .prod-img-holder .prod-img {
  width: 203px;
  height: 169px;
  background: rgba(0, 0, 0, 0.24);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 238, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-footer {
  padding: 0 0 0 2px;
}
/* line 241, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-footer .rate-text {
  float: right;
  margin: 0 5px 0 0;
}
/* line 245, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-footer .rate-text a {
  color: #5d5d5d;
  font-size: 11px;
  line-height: 14px;
  text-decoration: none;
}
/* line 251, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-footer .rate-text a:hover {
  text-decoration: underline;
}
/* line 262, ../sass/_main.scss */
#content-holder .content .page-holder {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 36px;
  padding: 11px 0 0 17px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin: 0 17px 0 0;
}
/* line 272, ../sass/_main.scss */
#content-holder .content .page-holder .page-number {
  float: right;
  margin: 0 5px 0 0;
}
/* line 276, ../sass/_main.scss */
#content-holder .content .page-holder .page-number ul {
  overflow: hidden;
}
/* line 280, ../sass/_main.scss */
#content-holder .content .page-holder .page-number li {
  float: left;
  height: 27px;
  width: 30px;
  margin: 0 5px 0 0;
}
/* line 286, ../sass/_main.scss */
#content-holder .content .page-holder .page-number li a {
  display: block;
  line-height: 27px;
  color: #393939;
  text-decoration: none;
  background: #1c1c1c;
  text-align: center;
}
/* line 294, ../sass/_main.scss */
#content-holder .content .page-holder .page-number li a:hover {
  background: dimgrey;
}
/* line 300, ../sass/_main.scss */
#content-holder .content .page-holder .page-number .active {
  background: #0b0b0b;
}
/* line 305, ../sass/_main.scss */
#content-holder .content .page-holder .page-info {
  color: #4a4a4a;
  padding: 5px 0 0;
}
/* line 309, ../sass/_main.scss */
#content-holder .content .page-holder .page-info strong {
  color: #757575;
}
