/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_custom-form.scss */
.search-form {
  height: 38px;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #131313), color-stop(100%, #101010));
  background-image: -webkit-linear-gradient(#131313, #101010);
  background-image: -moz-linear-gradient(#131313, #101010);
  background-image: -o-linear-gradient(#131313, #101010);
  background-image: linear-gradient(#131313, #101010);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
/* line 10, ../sass/_custom-form.scss */
.search-form .row {
  width: 100%;
  overflow: hidden;
  color: #fff;
}
/* line 16, ../sass/_custom-form.scss */
.search-form .row .input-setter {
  overflow: hidden;
  padding: 12px 5px 0 11px;
}
/* line 21, ../sass/_custom-form.scss */
.search-form .row input[type="text"] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #131313), color-stop(100%, #101010));
  background-image: -webkit-linear-gradient(#131313, #101010);
  background-image: -moz-linear-gradient(#131313, #101010);
  background-image: -o-linear-gradient(#131313, #101010);
  background-image: linear-gradient(#131313, #101010);
  border: none;
  outline: none;
  font-size: 11px;
  color: #5d5d5d;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 32, ../sass/_custom-form.scss */
.search-form .row .submit-setter {
  float: right;
  margin: 0 9px;
}
/* line 38, ../sass/_custom-form.scss */
.search-form .row input[type="submit"] {
  background: url("../images/sprites/icon-look.png") 0 7px no-repeat;
  border: none;
  padding: 0;
  height: 38px;
  width: 24px;
  vertical-align: top;
  outline-color: #4B4B4B;
}
/* line 47, ../sass/_custom-form.scss */
.search-form .row input[type="submit"]:hover {
  cursor: pointer;
}

/* line 7, ../sass/_main.scss */
body {
  background: url("../images/bg-body.gif");
  font: 12px/14px Verdana, Arial, sans-serif;
}

/* line 12, ../sass/_main.scss */
#wrapper, .header-holder, #main-nav, #content-holder, #footer {
  width: 100%;
}

/* line 16, ../sass/_main.scss */
.header-holder {
  padding: 11px 0 0;
  border-top: solid #464646;
  border-top-width: 1px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #252525), color-stop(100%, #131313));
  background-image: -webkit-linear-gradient(#252525, #131313);
  background-image: -moz-linear-gradient(#252525, #131313);
  background-image: -o-linear-gradient(#252525, #131313);
  background-image: linear-gradient(#252525, #131313);
}
/* line 22, ../sass/_main.scss */
.header-holder .header-box {
  padding: 0 0 37px;
  margin: 0 0 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d2d2d), color-stop(100%, #181818));
  background-image: -webkit-linear-gradient(#2d2d2d, #181818);
  background-image: -moz-linear-gradient(#2d2d2d, #181818);
  background-image: -o-linear-gradient(#2d2d2d, #181818);
  background-image: linear-gradient(#2d2d2d, #181818);
}
/* line 27, ../sass/_main.scss */
.header-holder .header-box #header {
  width: 972px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 32, ../sass/_main.scss */
.header-holder .header-box #header #logo {
  float: left;
  width: 268px;
  height: 60px;
  margin: 34px 0 0 4px;
  background: url(../images/logo.png) no-repeat;
}
/* line 39, ../sass/_main.scss */
.header-holder .header-box #header #logo a {
  display: block;
  text-indent: -9999px;
  height: 100%;
}
/* line 46, ../sass/_main.scss */
.header-holder .header-box #header .search-holder {
  height: 88px;
  float: right;
  margin: 0 13px 0 0;
}
/* line 51, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content {
  height: 100%;
  max-width: 390px;
  padding: 7px 20px 0 22px;
  background: url("../images/bg-left-side.png"), url("../images/bg-right-side.png"), url("../images/bg-search.gif");
  background-position: top left, top right, top left;
  background-repeat: no-repeat, no-repeat, repeat-x;
}
/* line 59, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content span {
  height: 16px;
  font-size: 11px;
  display: inline-block;
  background: url("../images/sprites/logo-rss.png") 0 2px no-repeat;
  color: #6e6e6e;
  padding: 2px 0 0 32px;
  vertical-align: top;
}
/* line 69, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .subscribe-holder {
  margin: 0 0 11px 4px;
}
/* line 73, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .add-nav {
  display: inline-block;
  line-height: 16px;
}
/* line 77, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .add-nav li {
  float: left;
  padding: 0 6px;
  background: url("../images/sprites/sep-add-nav.gif") 0 4px no-repeat;
}
/* line 82, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .add-nav li:first-child {
  background: none;
  padding: 0 6px 0 0;
}
/* line 87, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .add-nav li a {
  font-size: 11px;
  color: #a9a9a9;
  text-decoration: none;
}
/* line 91, ../sass/_main.scss */
.header-holder .header-box #header .search-holder .search-content .add-nav li a:hover {
  text-decoration: underline;
}
/* line 101, ../sass/_main.scss */
.header-holder .header-box #header .sub-nav {
  font-size: 11px;
  float: right;
  padding: 10px 0 0;
  max-width: 330px;
}
/* line 107, ../sass/_main.scss */
.header-holder .header-box #header .sub-nav li {
  float: left;
  padding: 0 14px 0 15px;
  background: url("../images/separ-sub-nav.gif") 100% 1px no-repeat;
}
/* line 113, ../sass/_main.scss */
.header-holder .header-box #header .sub-nav li:last-child {
  background: none;
  padding: 0 7px 0 15px;
}
/* line 118, ../sass/_main.scss */
.header-holder .header-box #header .sub-nav li a {
  text-decoration: none;
  color: #616161;
}
/* line 122, ../sass/_main.scss */
.header-holder .header-box #header .sub-nav li a:hover {
  text-decoration: underline;
}

/* line 133, ../sass/_main.scss */
#main-nav {
  text-align: center;
  border-top: solid #474747;
  border-top-width: 1px;
  border-bottom: solid #161616;
  border-bottom-width: 1px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #272727));
  background-image: -webkit-linear-gradient(#333333, #272727);
  background-image: -moz-linear-gradient(#333333, #272727);
  background-image: -o-linear-gradient(#333333, #272727);
  background-image: linear-gradient(#333333, #272727);
}
/* line 140, ../sass/_main.scss */
#main-nav ul {
  font-size: 13px;
  line-height: 42px;
  font-weight: bold;
  display: inline-block;
}
/* line 146, ../sass/_main.scss */
#main-nav ul li {
  float: left;
  height: 100%;
}
/* line 150, ../sass/_main.scss */
#main-nav ul li a {
  padding: 0 13px;
  display: block;
  height: 100%;
  color: #9c9c9c;
  text-decoration: none;
}
/* line 157, ../sass/_main.scss */
#main-nav ul li a:hover {
  text-decoration: none;
  background: #727272;
}

/* line 167, ../sass/_main.scss */
#content-holder {
  background: url("../images/bg-main-top.png"), url("../images/bg-main-bot.png");
  background-position: 0 0, 0 100%;
  background-repeat: repeat-x, repeat-x;
  padding: 6px 0 7px;
}
/* line 176, ../sass/_main.scss */
#content-holder .content {
  padding: 20px 10px 20px 6px;
  width: 972px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 181, ../sass/_main.scss */
#content-holder .content .prod-list {
  overflow: hidden;
}
/* line 184, ../sass/_main.scss */
#content-holder .content .prod-list li {
  float: left;
  width: 203px;
  height: 237px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 20px 20px 0;
}
/* line 193, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-header-setter {
  height: 26px;
  background: rgba(0, 0, 0, 0.47);
  padding: 11px 9px 0 12px;
}
/* line 198, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-header-setter span {
  float: right;
  width: 23px;
  height: 20px;
  font-weight: bold;
  padding: 0 0 0 21px;
  background: url("../images/sprites/icon-review.png") 0 2px no-repeat;
  color: #545252;
}
/* line 208, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-header-setter h2 {
  overflow: hidden;
}
/* line 211, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-header-setter h2 a {
  color: #5d5d5d;
  text-decoration: none;
}
/* line 215, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-header-setter h2 a:hover {
  text-decoration: underline;
}
/* line 222, ../sass/_main.scss */
#content-holder .content .prod-list li .prod-img-holder {
  margin: 0 0 13px;
}
/* line 225, ../sass/_main.scss */
#content-holder .content .prod-list li .prod-img-holder .prod-img {
  width: 203px;
  height: 169px;
  background: rgba(0, 0, 0, 0.24);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 233, ../sass/_main.scss */
#content-holder .content .prod-list li .prod-img-holder .prod-img img {
  vertical-align: top;
}
/* line 239, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-footer {
  padding: 0 4px 0 2px;
}
/* line 242, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-footer .rate-text {
  float: right;
}
/* line 245, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-footer .rate-text a {
  color: #5d5d5d;
  font-size: 11px;
  line-height: 14px;
  text-decoration: none;
}
/* line 251, ../sass/_main.scss */
#content-holder .content .prod-list li .loc-footer .rate-text a:hover {
  text-decoration: underline;
}
/* line 260, ../sass/_main.scss */
#content-holder .content .page-holder {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 36px;
  padding: 11px 0 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin: 0 17px 0 0;
}
/* line 270, ../sass/_main.scss */
#content-holder .content .page-holder .page-number {
  float: right;
  margin: 0 6px 0 0;
}
/* line 274, ../sass/_main.scss */
#content-holder .content .page-holder .page-number ul {
  overflow: hidden;
}
/* line 278, ../sass/_main.scss */
#content-holder .content .page-holder .page-number li {
  float: left;
  height: 27px;
  width: 30px;
  margin: 0 5px 0 0;
}
/* line 284, ../sass/_main.scss */
#content-holder .content .page-holder .page-number li a {
  display: block;
  line-height: 27px;
  color: #393939;
  text-decoration: none;
  background: #1c1c1c;
  text-align: center;
}
/* line 292, ../sass/_main.scss */
#content-holder .content .page-holder .page-number li a:hover {
  background: dimgrey;
}
/* line 298, ../sass/_main.scss */
#content-holder .content .page-holder .page-number .active {
  background: #0b0b0b;
}
/* line 303, ../sass/_main.scss */
#content-holder .content .page-holder .page-info {
  color: #4a4a4a;
  padding: 5px 17px 0;
  overflow: hidden;
}
/* line 308, ../sass/_main.scss */
#content-holder .content .page-holder .page-info strong {
  color: #757575;
}

/* footer */
/* line 320, ../sass/_main.scss */
#footer {
  background: #121212;
  padding: 27px 0 0;
}
/* line 325, ../sass/_main.scss */
#footer .services-holder {
  width: 972px;
  overflow: hidden;
  padding: 0 25px 28px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid black;
  border-bottom-width: 1px;
}
/* line 332, ../sass/_main.scss */
#footer .services-holder .list-box {
  float: left;
  width: 150px;
  margin: 0 36px 0 0;
}
/* line 337, ../sass/_main.scss */
#footer .services-holder .list-box h2 {
  font: 24px/28px Verdana, sans-serif;
  color: #fff;
  margin: 0 0 20px;
}
/* line 347, ../sass/_main.scss */
#footer .services-holder .list-box ul li a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 20px;
}
/* line 353, ../sass/_main.scss */
#footer .services-holder .list-box ul li a:hover {
  text-decoration: underline;
}
/* line 358, ../sass/_main.scss */
#footer .services-holder .list-box ul li span {
  color: #a2a1a1;
}
/* line 364, ../sass/_main.scss */
#footer .services-holder .list-box .favicon li {
  float: left;
  margin: 4px 4px 4px 5px;
}
/* line 368, ../sass/_main.scss */
#footer .services-holder .list-box .favicon li img {
  vertical-align: top;
}
/* line 374, ../sass/_main.scss */
#footer .services-holder .topics {
  width: 200px;
  margin: 0 61px 0 0;
}
/* line 380, ../sass/_main.scss */
#footer .services-holder .favicon-holder {
  width: 205px;
  margin: 0 71px 0 0;
}
/* line 384, ../sass/_main.scss */
#footer .services-holder .favicon-holder h2 {
  margin: 0 22px 20px 2px;
}
/* line 389, ../sass/_main.scss */
#footer .services-holder .twitter-update {
  width: 231px;
  margin: 0;
}
/* line 393, ../sass/_main.scss */
#footer .services-holder .twitter-update .twitter-info {
  background: #1e1e1e;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  padding: 17px 18px 9px;
  position: relative;
}
/* line 399, ../sass/_main.scss */
#footer .services-holder .twitter-update .twitter-info p {
  color: #4a4a4a;
  line-height: 20px;
  margin: 0 0 20px;
}
/* line 404, ../sass/_main.scss */
#footer .services-holder .twitter-update .twitter-info p:last-child {
  margin: 0 0 9px;
}
/* line 408, ../sass/_main.scss */
#footer .services-holder .twitter-update .twitter-info p span {
  color: #b9b9b9;
}
/* line 412, ../sass/_main.scss */
#footer .services-holder .twitter-update .twitter-info p a {
  text-decoration: none;
  color: #4a4a4a;
}
/* line 416, ../sass/_main.scss */
#footer .services-holder .twitter-update .twitter-info p a:hover {
  text-decoration: underline;
}
/* line 422, ../sass/_main.scss */
#footer .services-holder .twitter-update .twitter-info .triangle-bottomleft {
  position: absolute;
  right: 13px;
  top: -17px;
  width: 0;
  height: 0;
  border-bottom: 17px solid #1e1e1e;
  border-right: 15px solid transparent;
}
/* line 436, ../sass/_main.scss */
#footer .info-holder {
  background: black;
  height: 46px;
  padding: 0 10px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: solid #202020;
  border-top-width: 1px;
}
/* line 445, ../sass/_main.scss */
#footer .info-holder .info-setter {
  width: 972px;
  padding: 16px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 451, ../sass/_main.scss */
#footer .info-holder .info {
  color: #4a4a4a;
  font-size: 11px;
  line-height: 14px;
  overflow: hidden;
}
/* line 458, ../sass/_main.scss */
#footer .info-holder .sub-nav {
  float: right;
  padding: 0 7px;
  font-size: 11px;
  line-height: 12px;
}
/* line 464, ../sass/_main.scss */
#footer .info-holder .sub-nav .nav-list {
  overflow: hidden;
}
/* line 468, ../sass/_main.scss */
#footer .info-holder .sub-nav li {
  float: left;
  padding: 0 13px 0 14px;
  background: url("../images/sep-footer-nav.gif") 0 2px no-repeat;
}
/* line 473, ../sass/_main.scss */
#footer .info-holder .sub-nav li:first-child {
  background: none;
}
/* line 477, ../sass/_main.scss */
#footer .info-holder .sub-nav li a {
  color: #4a4a4a;
  text-decoration: none;
}
/* line 480, ../sass/_main.scss */
#footer .info-holder .sub-nav li a:hover {
  text-decoration: underline;
}
