// header-holder border color
$bg-head-hold-top: #252525;
$bg-head-hold-bot: #131313;

// header background to gradient
$bg-header-top: #2d2d2d;
$bg-header-bot: #181818;

// header border color
$bg-header-border: #464646;

// search-holder background
$bg-search-top: #242424;
$bg-search-bot: #181818;

// text color ob sub navy
$txt-color-sub-navy: #616161;