@import "base";
@import "custom-form";
@import "compass/css3/images";
@import "compass/css3/border-radius";
// import main stylesheet

body {
	background: url(../images/bg-body.gif);
	font: 12px/14px Verdana, Arial, sans-serif;
}

#wrapper {
	width: 100%;
}

.header-holder {
	@extend #wrapper;
	// height: $header-holder-height;
	@include border-top ($bg-header-border, 1px);
	@include background-image(linear-gradient($bg-head-hold-top, $bg-head-hold-bot));
	padding:11px 0 0;

	.header-box {
		height: $header-height;
		@include background-image(linear-gradient($bg-header-top, $bg-header-bot));
		margin: 0 0 10px;

		#header {
			width: $page-width;
			@include center-block();
			overflow: hidden;

			#logo {
				float: left;
				width: 268px;
				height: 60px;
				margin: 34px 0 0 4px;
				background: url(../images/logo.png);

				a {
					display: block;
					text-indent: -9999px;
					height: 100%;
				}
			}

			.search-holder {
				height: $search-holder-height;
				float: right;
				margin: 0 13px 0 0;

				.search-content {
					height: 100%;
					max-width: 390px;
					padding: 7px 20px 0 22px;
					background: url("../images/bg-left-side.png"), url("../images/bg-right-side.png"),url("../images/bg-search.gif");
					background-position: top left, top right, top left;
					background-repeat: no-repeat, no-repeat, repeat-x;

					& span {
						height: 16px;
						font-size:11px;
						display: inline-block;
						background: url("../images/sprites/logo-rss.png") no-repeat;
						color: #6e6e6e;
						padding: 2px 0 0 27px;
						vertical-align: top;
					}

					.subscribe-holder {
						margin: 0 0 11px 4px;
					}

					.add-nav {
						display: inline-block;
						line-height: 16px;

						li {
							float: left;
							padding: 0 6px;
							background: url("../images/sprites/sep-add-nav.gif") 0 4px no-repeat;

							&:first-child {
								background: none;
							}

							a {
								font-size: 11px;
								color: #a9a9a9;
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}

			}

			.sub-nav {
				font-size: 11px;
				float: right;
				padding: 10px 0 0;
				max-width: 330px;

				li{
					float: left;
					padding: 0 14px 0 15px;
					background: url("../images/separ-sub-nav.gif") 100% 1px no-repeat;


					&:last-child {
						background: none;
						padding: 0 7px 0 15px;
					}

					a {
						text-decoration: none;
						color: $txt-color-sub-navy;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}


		}
	}


}

#main-nav {
	@extend #wrapper;
	@include border-top($main-border-top, 1px);
	@include border-bottom($main-border-bot, 1px);
	height: $height-main-nav;
	@include background-image(linear-gradient($bg-main-nav-st, $bg-main-nav-end));
	text-align: center;

	ul {
		font-size: 13px;
		line-height: $height-main-nav;
		font-weight: bold;
		display: inline-block;
		overflow: hidden;

		li{
			float: left;
			height: 100%;

			a {
				padding: 0 13px;
				display: block;
				height: 100%;
				color: #9c9c9c;
				text-decoration: none;

				&:hover {
					text-decoration: none;
					background: #727272;
				}
			}
		}
	}

}

#content-holder {
	background: url("../images/bg-main-top.png") repeat-x;
	padding: 6px 0 0;
	@extend #wrapper;
	height: 500px;

	.content {
		padding: 20px 10px 0 6px;
		width: $page-width;
		@include center-block();
		overflow: hidden;

		li {
			float: left;
			width: 203px;
			height: 237px;
			background: rgba(0,0,0,0.2);
			@include border-radius(10px);
			padding: 10px;
			margin: 0 20px 20px 0;

			.loc-header-setter {
				height: 26px;
				background: rgba(0,0,0,0.47);
				padding: 11px 0 0 12px;

				span {
					float: right;
					width: 23px;
					height: 20px;
					margin: 0 9px 0 0;
					font-weight: bold;
					padding: 0 0 0 21px;
					background: url("../images/sprites/icon-review.png") 0 2px no-repeat;
					color: #545252;
				}

				h2{
					overflow: hidden;

					a {
						color: #5d5d5d;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.prod-img-holder {
				margin: 0 0 13px;

				.prod-img {
					width: 203px;
					height: 169px;
					background: rgba(0,0,0,0.24);
					display: table-cell;
					text-align: center;
					vertical-align: middle;
				}
			}

			.loc-footer {
				padding: 0 0 0 2px;

				.rate-text {
					float: right;
					margin: 0 5px 0 0;

					a {
						color: #5d5d5d;
						font-size: 11px;
						line-height: 14px;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

}

.footer-holder {
	@extend #wrapper;
}