// width of page content
$page-width: 972px;

// header height
$header-height: 131px;

// header-holder height
$header-holder-height: 141px;

// search-holder block height
$search-holder-height: 88px;

// main nav height
$height-main-nav: 43px;